---
import ProjectCard from "./ProjectCard.astro";
import { type Locale } from "../../data/i18n";

interface Props {
  projects: any[];
  locale?: Locale;
}

const { projects, locale = "ko" } = Astro.props;
---

<div class="catalog-grid">
  {projects.map((project, index) => (
    <ProjectCard project={project} dataReveal={`${(index % 4) + 1}`} locale={locale} />
  ))}
</div>
