---
import ResearchCard from "./ResearchCard.astro";
import { type Locale } from "../../../lib/i18n";

interface Props {
  research: any[];
  locale?: Locale;
}

const { research, locale = "ko" } = Astro.props;
---

<div class="research-list">
  {research.map((item, index) => (
    <ResearchCard item={item} dataReveal={`${(index % 4) + 1}`} locale={locale} />
  ))}
</div>
